@import url("https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300");
#container {
  text-align: center;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
#container div {
  border: 1px solid black;
}

#container img {
  width: 17rem;
  height: 25rem;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.card {
  width: 320px;
  height: 450px;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}

.card > div {
  position: absolute;
  width: 320px;
  height: 450px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.front {
  background-image: linear-gradient(
    180deg,
    rgba(145, 141, 144, 1) 0%,
    rgba(92, 91, 94, 0) 100%
  );
  transform: rotateY(0deg) translateZ(160px);
  /* border-radius: 34px 3px 0 0; */
}

.right {
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
  border: 1px solid rgb(207, 205, 205);
}

.card:hover {
  transform: translateZ(-160px) rotateY(-90deg);
}

.card:hover .front {
  opacity: 0;
}

.card:hover .right {
  opacity: 1;
}

h1,
h2 {
  margin: 0;
  font-family: "Sarala";
  font-weight: 700;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span {
  margin-left: 13px;
  opacity: 0.55;
}

.wrapimg {
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 100ms;
  pointer-events: none;
  width: 250px;
  height: 250px;
}

.img-wrapper {
  animation: float 4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float {
  0% {
    transform: translateZ(20px);
  }
  100% {
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.card:hover ~ .img-wrapper img {
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

ul {
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li {
  padding-bottom: 8px;
  position: relative;
}

li:before {
  // content: "x";
  position: absolute;
  left: -21px;
  opacity: 0.55;
}

button {
  position: absolute;
  right: 21px;
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(
    130deg,
    rgba(117, 51, 165, 1) 50%,
    rgba(51, 46, 57, 0.89) 100%
  );
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34, 34, 34, 0.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: right bottom;
}

.card:hover button {
  transform: scale(1) skewY(0);
}

.card:not(:hover) button {
  opacity: 0;
}

button:hover {
  background-position: left;
}

.price {
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: 0.34;
}

@keyframes fadeIn {
  0% {
    opacity: 0.33;
    transform: scale(0.89);
  }
}

@media only screen and (max-width: 768px) {
  #container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .wrapper2 {
    grid-template-columns: repeat(1, 1fr);
  }
}



.store-body{
  padding-top: 60px;
}
@media screen and (max-width: 500px) {
  .bestheadd{
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    margin-left: 1px;
    margin-top: 10px;
    gap: 10px;
    
    }
  .storeNav {
    background-color: #4a545e;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    gap: 10px;
    // left: 0;
    // right: 0;
    z-index: 300;
    transition: 1s ease-in-out;
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 700;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      padding: 5px 20px;
      color: white;
      background-color: #15171c;
      border-radius: 5px;
    }
  }
}


.storeNav {
  background-color: #393a3b;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  gap: 10px;
  
  // left: 0;
  // right: 0;
  z-index: 300;
  transition: 1s ease-in-out;
  p {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: white;
    background-color: #15171c;
    border-radius: 5px;
  }
}
.store {
  font-family: "Open Sans", sans-serif;

  &__sliderContainer {
    margin-bottom: 30px;
    h2{
        width: 100%;
        margin: auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
  }

  &__shop-category {
    width: 100%;

    &_box {
      width: 80%;
      margin: auto;
      // border: 1px solid red;

      &-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
      }
      &_row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        // border: 1px solid red;
        box-sizing: border-box;
        
        // padding: 50px;

        img {
          width: 30%;

          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        
          &:hover {
            width: 32%;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
           
          }
        }
      }
    }
  }

  &__shop-workout {
      width: 100%;

      &-box{
          width: 80%;
          margin: auto;
        //   border: 1px solid red;
          h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 20px;
          }
          &_img{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              align-content: center;
            //   border: 1px solid blue;
              gap: 20px;

              img{
                  width: 20%;
              }
              margin-bottom: 20px;
          }
      }
  }

  &__spotlight-container{
      width: 100vw;
      margin-bottom: 20px;
      &_box{
          width: 80%;
          margin: auto;
          h3{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 20px;

          }
          &-img{
              display: flex;
              flex-direction: row;
              img{
                  width: 50%;
              }
          }
      }
  }

  &__bestsellers{
      width: 100vw;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 20px;
      
      &_container{
          width: 80%;
          margin: auto;
         
          &-textBox{
              display: flex;
              flex-direction: column;
              padding-bottom: 20px;
            
              &_title{
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                //   border: 1px solid red;

                  div:nth-child(1){
                    // border: 1px solid red;
                    font-size: 1.2rem;
                  }
                  div:nth-child(2){
                    // border: 1px solid red;
                    font-size: 0.9rem;
                    color: #DD0285;
                    font-weight: 500;
                    cursor: pointer;
                  }
              }

              p{
                  font-size: 0.8rem;
              }
          }
      }
  }
  &__faq-section{
      width: 100vw;
      font-family: "Open Sans", sans-serif;
      background-color: #F2F4F8;
      padding: 20px 0;

      &-box{
          width: 80%;
          margin: auto;
        
          &-txt{
              h3{
                  font: 1.2rem;
                  color: grey;
              }
              &-head{
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  p{
                      color: #DD0285;
                      font-weight: 700;
                      cursor: pointer;
                      
                  }
              }
          }
          &-faq{
            width: 80%;
            // border: 1px solid red;
            margin: auto;

         

        }
          
      }

  }
}

.faq-row-wrapper {
   

    .faq-body {
        
        .faq-row {
            line-height: 2;
           
            .row-content {
                
                .row-content-text {
                    
                    line-height: 1.6;
                }
            }
        }
    }
}

.store__bestsellers_container-product-box{
  // border: 1px solid red;
  // width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}

.store__productCard{
  // border: 1px solid red;
  // display: flex;
  // flex-direction: column;
  // text-align: left;
  // justify-content: space-between;
  // text-decoration: none;
  // align-items: center;
  img{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  h3{
    font-size: 16px;
    margin-left: 5%;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .store__productCard-priceBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin:0 5%;
    
    // border: 1px solid red;
    align-items: baseline;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
    h3{
      font-weight: 700;
    }
    p{
      text-decoration-line: line-through;
      font-size: 12px;
    }
    h4{
      color: #DD0285;
      font-size: 14px;
    }

  }
  
}

#store__productCard-link{
  text-decoration: none;
  color: #15171c;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  text-decoration: none;
  

}

.store__sliderContainer{
  width: 100vw;
}




// NNEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE



@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
.container1,.container2{
    display: flex;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
    justify-content: center;
}
.container2>div{
    margin: 7px;
}
.heading{
    margin-left: 210px;
    font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
width: 98%;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
background-color:#F2F4F8;
color: #F2F4F8;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
margin-bottom: 15px;
margin-left: 10px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #F2F4F8;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
padding: 0 18px;
background-color: #F2F4F8;
display: none;
overflow: hidden;
}
.panel {
padding: 0 18px;
background-color: #F2F4F8;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
.accordion:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 13px;
color: #F2F4F8;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.faq{
width: 70%;
margin: auto;
background-color: #F2F4F8;
/* border: 1px solid red; */
margin-top: 50px;
}
#faq{
justify-content: center;
background-color:  #F2F4F8;
width: 100%;
/* border: 1px solid red; */
}
.questions{
font-size: 28px;
font-weight: 600;
line-height: 26px;
color: #6a6a6a;
margin-left: 210px;
}
.accordion{
font-size: 28px;
font-weight: 600;
line-height: 26px;
color: #6a6a6a;

}
.panel>p{
color: #888e9e;
font-size: 22px;
}
.seeall{
color: red;
margin-left: 1150px;
background-color: #F2F4F8;
border: 0px;
font-size: 20px;
font-weight: bold;
position:relative;
bottom: 30px;
}
.bestdiv1{
font-size: 20px;
font-weight: bold;
}
.bestdiv2{
font-size: 17px;
font-weight: bold;
color: #9b9b9b;
}
.span1{
font-size: 19px;
font-weight: bold;
}
.span2{
font-size: 17px;
font-weight: bold;
text-decoration: line-through;
}
.span3{
font-size: 18px;
font-weight: bold;
color: #ff3278;
}
.bestsellers{
display: flex;
width: 95%;
margin: auto;
/* border: 1px solid red; */
justify-content: center;
}
.bestdiv{
margin: 15px;
margin-top: 0px;
}
.besthead{
font-size: 40px;
margin-left: 210px;
font-weight: bold;

}
// .title{
// // font-size: 20px;
// // color: grey;
// }
// .bestheadd{
//   font-size: 40px;
//   margin-left: 210px;
//   font-weight: bold;
//   margin-left: 2px;
//   margin-top: 20px;
//   gap: 20px;
  
//   }

  @media screen and (max-width: 600px) {
    
  .container2>div{
      margin: 7px;
  }
  .heading{
      margin-left: 210px;
      font-size: 34px;
      line-height: 34px;
      font-weight: 600;
      color: #000000;
      font-family: 'Ubuntu', sans-serif;
      margin-bottom: 5px;
      margin-top: 15px;
  }
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
  width: 48%;
  position: relative;
  margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
  background-color:#F2F4F8;
  color: #F2F4F8;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 15px;
  margin-left: 10px;
  
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
  background-color: #F2F4F8;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
  padding: 0 18px;
  background-color: #F2F4F8;
  display: none;
  overflow: hidden;
  }
  .panel {
  padding: 0 18px;
  background-color: #F2F4F8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }
  .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #F2F4F8;
  float: right;
  margin-left: 5px;
  }
  
  .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .faq{
  width: 35%;
  margin: auto;
  background-color: #F2F4F8;
  /* border: 1px solid red; */
  margin-top: 50px;
  }
  #faq{
  justify-content: center;
  background-color:  #F2F4F8;
  width: 100%;
  /* border: 1px solid red; */
  }
  .questions{
  font-size: 28px;
  font-weight: 600;
  line-height: 26px;
  color: #6a6a6a;
  margin-left: 210px;
  }
  .accordion{
  font-size: 28px;
  font-weight: 600;
  line-height: 26px;
  color: #6a6a6a;
  
  }
  .panel>p{
  color: #888e9e;
  font-size: 22px;
  }
  .seeall{
  color: red;
  margin-left: 150px;
  background-color: #F2F4F8;
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  position:relative;
  bottom: 30px;
  }
  .bestdiv1{
  font-size: 20px;
  font-weight: bold;
  }
  .bestdiv2{
  font-size: 17px;
  font-weight: bold;
  color: #9b9b9b;
  }
  .span1{
  font-size: 19px;
  font-weight: bold;
  }
  .span2{
  font-size: 17px;
  font-weight: bold;
  text-decoration: line-through;
  }
  .span3{
  font-size: 18px;
  font-weight: bold;
  color: #ff3278;
  }
  .bestsellers{
  display: flex;
  width: 45%;
  margin: auto;
  /* border: 1px solid red; */
  justify-content: center;
  }
  .bestdiv{
  margin: 15px;
  margin-top: 0px;
  }
  .besthead{
  font-size: 15px;
  margin-left: 210px;
  font-weight: bold;
  
  }
  .title{
  font-size: 20px;
  color: grey;
  }
  .bestheadd{
    font-size: 15px;
    margin-left: 210px;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 20px;
    gap: 20px;
    
    }
}

.storeNavv {
  background-color: #eaf0f7;
  // width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  // position: sticky;
  top: 0;
  gap: 10px;
  // left: 0;
  // right: 0;
  z-index: 300;
  transition: 1s ease-in-out;
  margin-top: -20px;
  margin-left: -170px;
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    // margin-top: -20px;
    padding: 5px 20px;
    color:  #15171c;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
  }
}

// @media screen and (max-width: 350px) {
 
//   .container1,.container2{
//     display: flex;
//     width: 95%;
//     margin: auto;
//     /* border: 1px solid red; */
//     justify-content: center;
// }
// .container2>div{
//     margin: 7px;
// }
// .heading{
//     margin-left: 210px;
//     font-size: 34px;
//     line-height: 34px;
//     font-weight: 600;
//     color: #000000;
//     font-family: 'Ubuntu', sans-serif;
//     margin-bottom: 5px;
//     margin-top: 15px;
// }
// * {box-sizing:border-box}

// /* Slideshow container */
// .slideshow-container {
// width: 98%;
// position: relative;
// margin: auto;
// }

// /* Hide the images by default */
// .mySlides {
// display: none;
// }

// /* Next & previous buttons */
// .prev, .next {
// cursor: pointer;
// position: absolute;
// top: 50%;
// width: auto;
// margin-top: -22px;
// padding: 16px;
// color: white;
// font-weight: bold;
// font-size: 18px;
// transition: 0.6s ease;
// border-radius: 0 3px 3px 0;
// user-select: none;
// }

// /* Position the "next button" to the right */
// .next {
// right: 0;
// border-radius: 3px 0 0 3px;
// }

// /* On hover, add a black background color with a little bit see-through */
// .prev:hover, .next:hover {
// background-color: rgba(0,0,0,0.8);
// }

// /* Caption text */
// .text {
// color: #f2f2f2;
// font-size: 15px;
// padding: 8px 12px;
// position: absolute;
// bottom: 8px;
// width: 100%;
// text-align: center;
// }

// /* Number text (1/3 etc) */
// .numbertext {
// color: #f2f2f2;
// font-size: 12px;
// padding: 8px 12px;
// position: absolute;
// top: 0;
// }

// /* The dots/bullets/indicators */
// .dot {
// cursor: pointer;
// height: 15px;
// width: 15px;
// margin: 0 2px;
// background-color: #bbb;
// border-radius: 50%;
// display: inline-block;
// transition: background-color 0.6s ease;
// }

// .active, .dot:hover {
// background-color: #717171;
// }

// /* Fading animation */
// .fade {
// -webkit-animation-name: fade;
// -webkit-animation-duration: 1.5s;
// animation-name: fade;
// animation-duration: 1.5s;
// }

// @-webkit-keyframes fade {
// from {opacity: .4}
// to {opacity: 1}
// }

// @keyframes fade {
// from {opacity: .4}
// to {opacity: 1}
// }

// /* Style the buttons that are used to open and close the accordion panel */
// .accordion {
// background-color:#F2F4F8;
// color: #F2F4F8;
// cursor: pointer;
// padding: 18px;
// width: 100%;
// text-align: left;
// border: none;
// outline: none;
// transition: 0.4s;
// margin-bottom: 15px;
// margin-left: 10px;

// }

// /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .active, .accordion:hover {
// background-color: #F2F4F8;
// }

// /* Style the accordion panel. Note: hidden by default */
// .panel {
// padding: 0 18px;
// background-color: #F2F4F8;
// display: none;
// overflow: hidden;
// }
// .panel {
// padding: 0 18px;
// background-color: #F2F4F8;
// max-height: 0;
// overflow: hidden;
// transition: max-height 0.2s ease-out;
// }
// .accordion:after {
// content: '\02795'; /* Unicode character for "plus" sign (+) */
// font-size: 13px;
// color: #F2F4F8;
// float: right;
// margin-left: 5px;
// }

// .active:after {
// content: "\2796"; /* Unicode character for "minus" sign (-) */
// }

// .faq{
// width: 70%;
// margin: auto;
// background-color: #F2F4F8;
// /* border: 1px solid red; */
// margin-top: 50px;
// }
// #faq{
// justify-content: center;
// background-color:  #F2F4F8;
// width: 100%;
// /* border: 1px solid red; */
// }
// .questions{
// font-size: 28px;
// font-weight: 600;
// line-height: 26px;
// color: #6a6a6a;
// margin-left: 210px;
// }
// .accordion{
// font-size: 28px;
// font-weight: 600;
// line-height: 26px;
// color: #6a6a6a;

// }
// .panel>p{
// color: #888e9e;
// font-size: 22px;
// }
// .seeall{
// color: red;
// margin-left: 1150px;
// background-color: #F2F4F8;
// border: 0px;
// font-size: 20px;
// font-weight: bold;
// position:relative;
// bottom: 30px;
// }
// .bestdiv1{
// font-size: 20px;
// font-weight: bold;
// }
// .bestdiv2{
// font-size: 17px;
// font-weight: bold;
// color: #9b9b9b;
// }
// .span1{
// font-size: 19px;
// font-weight: bold;
// }
// .span2{
// font-size: 17px;
// font-weight: bold;
// text-decoration: line-through;
// }
// .span3{
// font-size: 18px;
// font-weight: bold;
// color: #ff3278;
// }
// .bestsellers{
// display: flex;
// width: 95%;
// margin: auto;
// /* border: 1px solid red; */
// justify-content: center;
// }
// .bestdiv{
// margin: 15px;
// margin-top: 0px;
// }
// .besthead{
// font-size: 40px;
// margin-left: 210px;
// font-weight: bold;

// }
// .title{
// font-size: 20px;
// color: grey;
// }
// .bestheadd{
//   font-size: 40px;
//   margin-left: 210px;
//   font-weight: bold;
//   margin-left: 2px;
//   margin-top: 20px;
//   gap: 20px;
  
//   }

// }
@media screen and (max-width: 450px){
.storeNavv {
  background-color: #eaf0f7;
  // width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  // position: sticky;
  top: 0;
  gap: 20px;
  // left: 0;
  // right: 0;
  z-index: 300;
  transition: 1s ease-in-out;
  margin-top: -10px;
  margin-left: -65px;
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    // margin-top: -20px;
    padding: 5px 20px;
    color:  #15171c;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
  }
}}
