.navbar {
    background-image: linear-gradient(
      to bottom,
      #171a26,
      rgba(23, 26, 38, 0.0001)
    );
    // background-color:#15171C;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top:0;
    font-family: "Roboto", sans-serif;
    // font-weight: 500;
  
    padding: 0 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
  
    &__logo {
      width: 120px;
  
      img {
        width: 100%;
      }
    }
  
    &__links {
      text-transform: uppercase;
      color: white;
  
      letter-spacing: 0px;
      line-height: 22px;
      // width: 40%;
      // height: 100%;
  
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
  
        // @media screen and  (max-width: 1024px){
        //     font-size: 10px;
        // }
  
        .navbar__links-link {
          text-decoration: none;
          color: white;
        }
  
        li:nth-child(1) {
          // background-color: aqua;
          height: 60px;
          color: white;
          display: flex;
          align-items: center;
  
          padding: 0 20px;
  
          // border-bottom: 2px solid white;
        }
        li:nth-child(2) {
          // background-color: aqua;
          height: 60px;
          display: flex;
          align-items: center;
  
          padding: 0 20px;
          &:active {
            border-bottom: 2px solid white;
          }
        }
        li:nth-child(3) {
          // background-color: aqua;
          height: 60px;
          display: flex;
          align-items: center;
  
          padding: 0 20px;
          &:active {
            border-bottom: 2px solid white;
          }
        }
        li:nth-child(4) {
          // background-color: aqua;
          height: 60px;
          display: flex;
          align-items: center;
  
          padding: 0 20px;
          &:active {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  
    &__cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      // width: 30%;
      cursor: pointer;
  
      &-location {
        display: flex;
        justify-content: center;
  
        cursor: pointer;
        transition: all 100ms ease;
        padding: 0 10px;
        height: 40px;
  
        &-name {
          display: flex;
          align-items: center;
          select {
            border: none;
            font-size: 18px;
            color: white;
            background-color: transparent;
            appearance: none;
            padding: 5px;
            width: 120%;
            border: 0px;
            outline: 0px;
            @media screen and (max-width: "1024px") {
              font-size: 10px;
              font-weight: 500;
            }
  
            option {
              color: inherit;
              background-color: #15171c;
            }
          }
        }
        &-img {
          width: 26px;
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            // height: 100%;
            width: 100%;
          }
        }
  
        &:hover {
          background-color: rgb(240, 240, 240, 0.1);
          border-radius: 10px;
        }
      }
  
      &-button {
        padding: 0 10px;
        button {
          cursor: pointer;
          // font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
          border: 2px solid rgba(255, 255, 255, 0.75);
          transition: all 250ms ease;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background: transparent;
          font-size: 12px;
          border-radius: 5px;
          padding: 7px 15px;
          font-weight: 700;
  
          &:hover {
            border: 2px solid rgba(255, 255, 255, 0.5);
          }
        }
      }
  
      &-profile {
        width: 45px;
        height: 45px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
  
        img {
          width: 26px;
        }
  
        &:hover {
          background-color: rgb(240, 240, 240, 0.1);
          border-radius: 50%;
        }
      }
  
      &-cart {
        width: 45px;
        height: 45px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 26px;
        }
  
        &:hover {
          background-color: rgb(240, 240, 240, 0.1);
          border-radius: 50%;
        }
      }
    }
  
    @media screen and (max-width: "1024px") {
      font-size: 10px;
      font-weight: 500;
    }
  
  
  
  }
  
  
  .login__popup {
    position: absolute;
    top: 120px;
    z-index: 3000;
    left: calc(50% - 200px);
  }
  
  .cart__popup{
    position: absolute;
    top: 60px;
    right: 5px;
    z-index: 2000;
  }
  
  .disclaimer__popup{
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #DD0285;
    padding: 5px;
    border-radius: 10px;
  
  }
  
  
  
  .m-nav {
    background-image: linear-gradient(
      to bottom,
      #171a26,
      rgba(23, 26, 38, 0.0001)
    );
    background-color: #15171c;
    width: 100%;
    height: 60px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // position: relative;
    // z-index: 1;
    position: fixed;
    z-index: 100;
    font-family: "Roboto", sans-serif;
    padding: 0 20px;
  
    &__hamburgar {
      div {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
  
        &:nth-child(2){
            margin-left: 5px ;
        }
  
        &:nth-child(3){
            margin-left: 10px;
        }
      }
    }
  
    &__logo{
        img{
            width: 40px;
        }
    }
  
    .navbar__cart-location-name select{
      font-size: 16px;
      background-color: transparent;
        // option:hover {
           
        // }
    }
  }
  
  
  @media screen and (max-width: "769px") {
      .navbar {
        display: none;
      }
  
      .m-nav{
          display: flex;
      }
    }