

.second-nav{
    background-color: #393a3b ;
    color: #808181;
   display: flex;
   justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: #b3b3b4;
    /* padding: 0px 30px; */
    font-size: 18px;
    font-weight: 600;
}